.grid {
    height: 200px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(80, 80, 80);
    gap: 1px;
    align-self: center;
}

.grid div {
    height: 24px;
    width: 24px;
    background-color: gray;
}

.checked {
    background-color: rgb(228, 228, 228)!important;
}

.gameboard-beginner {
    display: flex;
    flex-direction: column;
}

.flex-wrapper {
    display: flex;
    align-items: center;
    align-self: center;
}

.reload-btn {
    margin-inline: 30px;
}

.bombCounter {
    height: 20px;
    width: 30px;
    font-size: medium;
    border: 1px solid black;
    text-align: end;
    padding-right: 5px;
}

.timer {
    height: 20px;
    width: 40px;
    font-size: medium;
    border: 1px solid black;
    text-align: center;
}

.topbar-game {
    height: 20px;
    width: 50px;
    text-align: center;
    cursor: pointer;
}

a {
    font-size: small;
}

/* .shown {
    visibility: visible;
}

.hidden {
    display: none;
    visibility: hidden;
} */

.bomb {
    background-color: antiquewhite;
}